.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#task {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#task input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#task button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

#task button:hover {
  background-color: #aaa;
}

#task button:active {
  background-color: #888;
}

body {
  font-family: sans-serif;
  background: lightblue;
}
